.header-profile {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.contact-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;

  margin-top: 2rem;
}

.contact-wrapper img {
  width: 30px;
  height: 30px;

  background-color: transparent;
}

.contact-wrapper a {
  display: flex;
  align-items: center;
  gap: 1rem;
}
